@model MvcLabManager.Models.Computer

@{
    ViewData["Title"] = "Criar novo computador";
}
<h1>@ViewData["Title"]</h1>

<form asp-controller="Computer" asp-action="Create" method="post">
    <p>
        <label asp-for="Ram">Ram: </label>
        <input type="text" asp-for="Ram" required>
    </p>

    <p>
        <label asp-for="Processor">Processador: </label>
        <input type="text" asp-for="Processor" required>
    </p>

    <button type="submit">Criar</button>
</form>