@model MvcLabManager.Models.Computer

@{
    ViewData["Title"] = $"Editar Computador {Model.Id}";
}
<h1>@ViewData["Title"]</h1>

<form asp-controller="Computer" asp-action="Update" method="post">
    <p>
        <input type="hidden" asp-for="Id" value="@Model.Id">
    </p>

    <p>
        <label for="ram">Ram: </label>
        <input type="text" asp-for="Ram" value="@Model.Ram" required>
    </p>

    <p>
        <label for="processor">Processador: </label>
        <input type="text" asp-for="Processor" value="@Model.Processor" required>
    </p>

    <button type="submit">Salvar</button>
</form>