@model MvcLabManager.Models.Computer

@{
    ViewData["Title"] = "Editar Computador";
}
<h1>@ViewData["Title"]</h1>

<form id="form" action="Update" method="post">
    <p>
        <label for="id">Id: </label>
        <input type="text" name="id" id="id" required>
    </p>

    <p>
        <label for="ram">Ram: </label>
        <input type="text" name="ram" id="ram" required>
    </p>

    <p>
        <label for="processor">Processador: </label>
        <input type="text" name="processor" id="processor" required>
    </p>

    <button type="submit">Salvar</button>
</form>