@model MvcLabManager.Models.Computer

@{
    ViewData["Title"] = $"Editar Computador {Model.Id}";
}
<h1>@ViewData["Title"]</h1>

<form asp-controller="Computer" asp-action="Update" method="post">
    <p>
        <input type="hidden" asp-for="Id" value="@Model.Id">
    </p>

    <p>
        <label asp-for="Ram">Ram: </label>
        <input type="text" asp-for="Ram" value="@Model.Ram">
        <span asp-validation-for="Ram" class="text-danger"></span>
    </p>

    <p>
        <label asp-for="Processor">Processador: </label>
        <input type="text" asp-for="Processor" value="@Model.Processor">
        <span asp-validation-for="Processor" class="text-danger"></span>
    </p>

    <button type="submit">Salvar</button>
</form>