@model MvcLabManager.Models.Lab

@{
    ViewData["Title"] = "Criar novo laboratório";
}
<h1>@ViewData["Title"]</h1>

<form asp-controller="Lab" asp-action="Create" method="post">
    <p>
        <label asp-for="Number">Número: </label>
        <input type="number" asp-for="Number" required>
    </p>

    <p>
        <label asp-for="Name">Nome: </label>
        <input type="text" asp-for="Name" required>
    </p>

    <p>
        <label asp-for="Block">Bloco: </label>
        <input type="text" asp-for="Block" required>
    </p>

    <button type="submit">Criar</button>
</form>